*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.bat
updateVersion.au3
test*
*.odg
*.zip
*.lnk
*.log
*.ini
version
uploadMSI.au3
ftp*.txt
signPass.txt
Backup/
InnoPackage/*
InnoBuild/*
build/*
!InnoPackage/sample.txt
!InnoBuild/sample.txt
!build/sample.txt
updateVersion.exe
/source/*.txt
/updateVersion_tidy.txt
__pycache__
*.log
*.~py
*.lnk
*.psproj
.idea/*
/*.~py
